<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3 mb-0">Productos</h1>

    <button class="btn btn-primary" *ngIf="isAdmin()">
  <i class="bi bi-plus-circle me-2"></i>
  Nuevo producto
</button>
<button class="btn btn-outline-danger" (click)="logout()">
  Cerrar sesión
</button>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <p class="text-muted">Total productos: {{ products.length }}</p>

      <table class="table table-hover align-middle mb-0" *ngIf="products.length > 0; else emptyState">
        <thead class="table-light">
          <tr>
            <th>Código</th>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Estado</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.codigo }}</td>

            <td>
              <div class="fw-semibold">{{ product.nombre }}</div>
              <small class="text-muted">{{ product.descripcion }}</small>
            </td>

            <td>{{ product.categoria }}</td>

            <td>{{ product.tipoMoneda || 'PEN' }} {{ product.precio }}</td>

            <td>
              <span class="badge bg-success" *ngIf="product.estado === 'ACTIVO'">
                {{ product.estado }}
              </span>

              <span class="badge bg-secondary" *ngIf="product.estado !== 'ACTIVO'">
                {{ product.estado }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #emptyState>
        <div class="alert alert-info mb-0">
          No hay productos registrados.
        </div>
      </ng-template>
    </div>
  </div>
</div>